.answer-button {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 12px;
    font-size: 16px;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.answer-button:hover {
    background-color: #c8f7c5;
}
